<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="../../assets/stylesheets_css/style_main.min.css">
</head>
<body class="footer_body">
    <div class="footer_content">
            <div class="footer__links">
                    <a href="/">Términos de uso</a>
                    <a href="/">Declaración de privacidad</a>
                    <a href="/">Centro de ayuda</a>
            </div>
            <div class="footer__infoDev">
                    <b>Desarrollado por:</b> Under Preassure <br>
                    v 1.0.0.0 
            </div>
    </div>
</body>
</html>