<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../assets/stylesheets_css/style_main.min.css">
</head>
<body class="menu_body" id="menu_body">
    <!-- Home -->
    <div class="menu_short_item " title="Home/Inicio">
        <i class="fa fa-home fa-lg" aria-hidden="true"></i>
    </div>
    <!-- Productos -->
    <div class="menu_short_item " title="Productos">
        <i class="fa fa-shopping-basket fa-lg" aria-hidden="true"></i>
    </div>
    <!-- Clientes -->
    <div class="menu_short_item" title="Clientes">
        <i class="fa fa-address-book fa-lg" aria-hidden="true"></i>
    </div>
    <!-- Facturas -->
    <div class="menu_short_item" title="Facturas">
        <i class="fa fa-newspaper-o fa-lg" aria-hidden="true"></i>
    </div>
    <!-- Reportes -->
    <div class="menu_short_item" title="Reportes">
        <i class="fa fa-line-chart fa-lg" aria-hidden="true"></i>
    </div>
    <!-- Configuración -->
    <div class="menu_short_item" title="Configuración">
        <i class="fa fa-cogs fa-lg" aria-hidden="true"></i>
    </div>
</body>

</html>