<!DOCTYPE html>
<html lang="en" id="shipment_content">

<head>
    <link rel="stylesheet" href="../../assets/stylesheets_css/style_main.min.css">
</head>

<body class="iframe_content_body">
    <div class="top_buttons">
        <button class="button_item">Buscar Producto</button>
        <button class="button_item">Categorías de Productos</button>
    </div>
    <div class="cart">
        <!-- COMPONENTE QUE CONTIENE LOS PRODUCTOS -->
        <div class="cart__products">
            <div class="row">
                <!-- COMPONENTE PARA DESPLEGAR UN PRODUCTO -->
                <div class="column">
                    <div class="cart__product_item">
                        <div class="cart__product_item-title">
                            <h3>Nombre del Producto</h3>
                        </div>
                        <div class="cart__product_up">
                            <div class="cart__product__img">
                                <img class="cart__product-img" src="../../assets/images/product_default.png"
                                    alt="product_image">
                            </div>
                            <div class="cart__product__btn">
                                <button class="button_add button_add_green"><i class="fa fa-plus"
                                        aria-hidden="true"></i></button>
                                <button class="button_zoom button_zoom_blue"><i class="fa fa-search"
                                        aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <div class="cart__product_down">
                            <b>Precio unitario:</b><br>
                            <b>Cantidad en Inventario:</b><br>
                            <b>Categoría:</b><br>
                        </div>
                    </div>
                </div>
                <!-- FIN DEL COMPONENTE PARA DESPLEGAR UN PRODUCTO -->
                <div class="column">
                    <div class="cart__product_item">
                        <div class="cart__product_item-title">
                            <h3>Nombre del Producto</h3>
                        </div>
                        <div class="cart__product_up">
                            <div class="cart__product__img">
                                <img class="cart__product-img" src="../../assets/images/product_default.png"
                                    alt="product_image">
                            </div>
                            <div class="cart__product__btn">
                                <button class="button_add button_add_green"><i class="fa fa-plus"
                                        aria-hidden="true"></i></button>
                                <button class="button_zoom button_zoom_blue"><i class="fa fa-search"
                                        aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <div class="cart__product_down">
                            <b>Precio unitario:</b><br>
                            <b>Cantidad en Inventario:</b><br>
                            <b>Categoría:</b><br>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="cart__product_item">
                        <div class="cart__product_item-title">
                            <h3>Nombre del Producto</h3>
                        </div>
                        <div class="cart__product_up">
                            <div class="cart__product__img">
                                <img class="cart__product-img" src="../../assets/images/product_default.png"
                                    alt="product_image">
                            </div>
                            <div class="cart__product__btn">
                                <button class="button_add button_add_green"><i class="fa fa-plus"
                                        aria-hidden="true"></i></button>
                                <button class="button_zoom button_zoom_blue"><i class="fa fa-search"
                                        aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <div class="cart__product_down">
                            <b>Precio unitario:</b><br>
                            <b>Cantidad en Inventario:</b><br>
                            <b>Categoría:</b><br>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="cart__product_item">
                        <div class="cart__product_item-title">
                            <h3>Nombre del Producto</h3>
                        </div>
                        <div class="cart__product_up">
                            <div class="cart__product__img">
                                <img class="cart__product-img" src="../../assets/images/product_default.png"
                                    alt="product_image">
                            </div>
                            <div class="cart__product__btn">
                                <button class="button_add button_add_green"><i class="fa fa-plus"
                                        aria-hidden="true"></i></button>
                                <button class="button_zoom button_zoom_blue"><i class="fa fa-search"
                                        aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <div class="cart__product_down">
                            <b>Precio unitario:</b><br>
                            <b>Cantidad en Inventario:</b><br>
                            <b>Categoría:</b><br>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="cart__product_item">
                        <div class="cart__product_item-title">
                            <h3>Nombre del Producto</h3>
                        </div>
                        <div class="cart__product_up">
                            <div class="cart__product__img">
                                <img class="cart__product-img" src="../../assets/images/product_default.png"
                                    alt="product_image">
                            </div>
                            <div class="cart__product__btn">
                                <button class="button_add button_add_green"><i class="fa fa-plus"
                                        aria-hidden="true"></i></button>
                                <button class="button_zoom button_zoom_blue"><i class="fa fa-search"
                                        aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <div class="cart__product_down">
                            <b>Precio unitario:</b><br>
                            <b>Cantidad en Inventario:</b><br>
                            <b>Categoría:</b><br>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="cart__product_item">
                        <div class="cart__product_item-title">
                            <h3>Nombre del Producto</h3>
                        </div>
                        <div class="cart__product_up">
                            <div class="cart__product__img">
                                <img class="cart__product-img" src="../../assets/images/product_default.png"
                                    alt="product_image">
                            </div>
                            <div class="cart__product__btn">
                                <button class="button_add button_add_green"><i class="fa fa-plus"
                                        aria-hidden="true"></i></button>
                                <button class="button_zoom button_zoom_blue"><i class="fa fa-search"
                                        aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <div class="cart__product_down">
                            <b>Precio unitario:</b><br>
                            <b>Cantidad en Inventario:</b><br>
                            <b>Categoría:</b><br>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="cart__product_item">
                        <div class="cart__product_item-title">
                            <h3>Nombre del Producto</h3>
                        </div>
                        <div class="cart__product_up">
                            <div class="cart__product__img">
                                <img class="cart__product-img" src="../../assets/images/product_default.png"
                                    alt="product_image">
                            </div>
                            <div class="cart__product__btn">
                                <button class="button_add button_add_green"><i class="fa fa-plus"
                                        aria-hidden="true"></i></button>
                                <button class="button_zoom button_zoom_blue"><i class="fa fa-search"
                                        aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <div class="cart__product_down">
                            <b>Precio unitario:</b><br>
                            <b>Cantidad en Inventario:</b><br>
                            <b>Categoría:</b><br>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="cart__product_item">
                        <div class="cart__product_item-title">
                            <h3>Nombre del Producto</h3>
                        </div>
                        <div class="cart__product_up">
                            <div class="cart__product__img">
                                <img class="cart__product-img" src="../../assets/images/product_default.png"
                                    alt="product_image">
                            </div>
                            <div class="cart__product__btn">
                                <button class="button_add button_add_green"><i class="fa fa-plus"
                                        aria-hidden="true"></i></button>
                                <button class="button_zoom button_zoom_blue"><i class="fa fa-search"
                                        aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <div class="cart__product_down">
                            <b>Precio unitario:</b><br>
                            <b>Cantidad en Inventario:</b><br>
                            <b>Categoría:</b><br>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="cart__product_item">
                        <div class="cart__product_item-title">
                            <h3>Nombre del Producto</h3>
                        </div>
                        <div class="cart__product_up">
                            <div class="cart__product__img">
                                <img class="cart__product-img" src="../../assets/images/product_default.png"
                                    alt="product_image">
                            </div>
                            <div class="cart__product__btn">
                                <button class="button_add button_add_green"><i class="fa fa-plus"
                                        aria-hidden="true"></i></button>
                                <button class="button_zoom button_zoom_blue"><i class="fa fa-search"
                                        aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <div class="cart__product_down">
                            <b>Precio unitario:</b><br>
                            <b>Cantidad en Inventario:</b><br>
                            <b>Categoría:</b><br>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="cart__product_item">
                        <div class="cart__product_item-title">
                            <h3>Nombre del Producto</h3>
                        </div>
                        <div class="cart__product_up">
                            <div class="cart__product__img">
                                <img class="cart__product-img" src="../../assets/images/product_default.png"
                                    alt="product_image">
                            </div>
                            <div class="cart__product__btn">
                                <button class="button_add button_add_green"><i class="fa fa-plus"
                                        aria-hidden="true"></i></button>
                                <button class="button_zoom button_zoom_blue"><i class="fa fa-search"
                                        aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <div class="cart__product_down">
                            <b>Precio unitario:</b><br>
                            <b>Cantidad en Inventario:</b><br>
                            <b>Categoría:</b><br>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- COMPONENTE QUE CONTIENE LOS ITEMS DEL CARRITO -->
        <div class="cart__items">
            <div class="cart__items_title">
                <h2> Carrito de Compras </h2>
            </div>
            <div class="cart__items_list">
                <!-- COMPONENTE DEL PRODUCTO DEL CARRITO -->
                <div class="cart__items_list-product">
                    <div class="cart__items_list-product_img">
                        <img class="cart__items__product-img" src="../../assets/images/product_default.png"
                            alt="product_image">
                    </div>
                    <div class="cart__items_list-description">
                        <div class="cart__items_list-secc1">
                            <h4>Nombre del Producto</h4>
                            <div class="cart__items_list-buttons">
                                <button class="button_minus button_minus_red"><i class="fa fa-minus"
                                        aria-hidden="true"></i></button>
                                2
                                <button class="button_add button_add_green"><i class="fa fa-plus"
                                        aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <div class="cart__items_list-secc2">
                            <b>Precio Unitario: $</b>
                            <br><b>Subtotal: $</b>
                        </div>
                    </div>
                    <div class="cart__items_list-delete">
                        <button class="button_delete"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    </div>
                </div>
                <!-- FIN DEL COMPONENTE DEL PRODUCTO DEL CARRITO -->
                <div class="cart__items_list-product">
                    <div class="cart__items_list-product_img">
                        <img class="cart__items__product-img" src="../../assets/images/product_default.png"
                            alt="product_image">
                    </div>
                    <div class="cart__items_list-description">
                        <div class="cart__items_list-secc1">
                            <h4>Nombre del Producto</h4>
                            <div class="cart__items_list-buttons">
                                <button class="button_minus button_minus_red"><i class="fa fa-minus"
                                        aria-hidden="true"></i></button>
                                2
                                <button class="button_add button_add_green"><i class="fa fa-plus"
                                        aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <div class="cart__items_list-secc2">
                            <b>Precio Unitario: $</b>
                            <br><b>Subtotal: $</b>
                        </div>
                    </div>
                    <div class="cart__items_list-delete">
                        <button class="button_delete"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    </div>
                </div>
                <div class="cart__items_list-product">
                    <div class="cart__items_list-product_img">
                        <img class="cart__items__product-img" src="../../assets/images/product_default.png"
                            alt="product_image">
                    </div>
                    <div class="cart__items_list-description">
                        <div class="cart__items_list-secc1">
                            <h4>Nombre del Producto</h4>
                            <div class="cart__items_list-buttons">
                                <button class="button_minus button_minus_red"><i class="fa fa-minus"
                                        aria-hidden="true"></i></button>
                                2
                                <button class="button_add button_add_green"><i class="fa fa-plus"
                                        aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <div class="cart__items_list-secc2">
                            <b>Precio Unitario: $</b>
                            <br><b>Subtotal: $</b>
                        </div>
                    </div>
                    <div class="cart__items_list-delete">
                        <button class="button_delete"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    </div>
                </div>
                <div class="cart__items_list-product">
                    <div class="cart__items_list-product_img">
                        <img class="cart__items__product-img" src="../../assets/images/product_default.png"
                            alt="product_image">
                    </div>
                    <div class="cart__items_list-description">
                        <div class="cart__items_list-secc1">
                            <h4>Nombre del Producto</h4>
                            <div class="cart__items_list-buttons">
                                <button class="button_minus button_minus_red"><i class="fa fa-minus"
                                        aria-hidden="true"></i></button>
                                2
                                <button class="button_add button_add_green"><i class="fa fa-plus"
                                        aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <div class="cart__items_list-secc2">
                            <b>Precio Unitario: $</b>
                            <br><b>Subtotal: $</b>
                        </div>
                    </div>
                    <div class="cart__items_list-delete">
                        <button class="button_delete"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    </div>
                </div>
                <div class="cart__items_list-product">
                    <div class="cart__items_list-product_img">
                        <img class="cart__items__product-img" src="../../assets/images/product_default.png"
                            alt="product_image">
                    </div>
                    <div class="cart__items_list-description">
                        <div class="cart__items_list-secc1">
                            <h4>Nombre del Producto</h4>
                            <div class="cart__items_list-buttons">
                                <button class="button_minus button_minus_red"><i class="fa fa-minus"
                                        aria-hidden="true"></i></button>
                                2
                                <button class="button_add button_add_green"><i class="fa fa-plus"
                                        aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <div class="cart__items_list-secc2">
                            <b>Precio Unitario: $</b>
                            <br><b>Subtotal: $</b>
                        </div>
                    </div>
                    <div class="cart__items_list-delete">
                        <button class="button_delete"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    </div>
                </div>
                <div class="cart__items_list-product">
                    <div class="cart__items_list-product_img">
                        <img class="cart__items__product-img" src="../../assets/images/product_default.png"
                            alt="product_image">
                    </div>
                    <div class="cart__items_list-description">
                        <div class="cart__items_list-secc1">
                            <h4>Nombre del Producto</h4>
                            <div class="cart__items_list-buttons">
                                <button class="button_minus button_minus_red"><i class="fa fa-minus"
                                        aria-hidden="true"></i></button>
                                2
                                <button class="button_add button_add_green"><i class="fa fa-plus"
                                        aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <div class="cart__items_list-secc2">
                            <b>Precio Unitario: $</b>
                            <br><b>Subtotal: $</b>
                        </div>
                    </div>
                    <div class="cart__items_list-delete">
                        <button class="button_delete"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    </div>
                </div>
                <div class="cart__items_list-product">
                    <div class="cart__items_list-product_img">
                        <img class="cart__items__product-img" src="../../assets/images/product_default.png"
                            alt="product_image">
                    </div>
                    <div class="cart__items_list-description">
                        <div class="cart__items_list-secc1">
                            <h4>Nombre del Producto</h4>
                            <div class="cart__items_list-buttons">
                                <button class="button_minus button_minus_red"><i class="fa fa-minus"
                                        aria-hidden="true"></i></button>
                                2
                                <button class="button_add button_add_green"><i class="fa fa-plus"
                                        aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <div class="cart__items_list-secc2">
                            <b>Precio Unitario: $</b>
                            <br><b>Subtotal: $</b>
                        </div>
                    </div>
                    <div class="cart__items_list-delete">
                        <button class="button_delete"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
            <div class="cart__items_total">
                <div class="cart__items_total-label">
                    <h3>Total:</h3>
                </div>
                <div class="cart__items_total-qty">
                    <h3>$</h3>
                </div>
            </div>
            <div class="cart__items_buttons">
                <button class="button-cart">Comprar</button>
                <button class="button-cart">Vaciar Carrito</button>
            </div>
        </div>

    </div>
</body>

</html>