<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/stylesheets_css/style_main.min.css">
</head>

<body class="all">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- SECCIÓN DE HEADER -->
    <header id="header" class="header">
        <iframe class="header__object" id="header__object" src="layout/header.html"></iframe>
    </header>

    <section class="inner_content">
        <!-- SECCIÓN DE MENÚ -->
        <div class="menu" id="menu">
                <iframe class="menu__object" id="menu__object" src="layout/menu.html"></iframe>
        </div>
        <!-- SECCIÓN DE CONTENIDO -->
        <div class="main_content" id="menu_content">
            <iframe class="main_content__object" id="home__object" src="index/home.html"></iframe>
        </div>
    </section>

    <!-- SECCIÓN DE FOOTER -->
    <footer id="footer" class="footer">
            <iframe class="footer__object" id="footer__object" src="layout/footer.html"></iframe>
    </footer>

    <!-- JAVASCRIPT DE RENDERS -->
    <script src="../assets/javascripts/layout.js"></script>

</body>
</html>